___
# Projeto 2 CDados
___

O principal objetivo do Projeto 2 é prever uma variável principal em função de
demais outras variáveis que podem influenciar em seu comportamento.

## Variável Target: taxa de fertilidade per capita por país

## Variável Feature: número médio de anos de escola frequentados por todas as mulheres na idade 15-24 anos por país

https://www.gapminder.org/data/

In [27]:
#Imports
%matplotlib inline
import pandas as pd

import numpy as np
from scipy import stats
import matplotlib.pyplot as plt

In [28]:
#Leitura dos arquivos Excel
escolaridade_anos = pd.read_excel('anos_na_escola_mulheres15-24.xlsx')
fertilidade = pd.read_excel('bebes_por_mulher.xlsx')

In [29]:
#Cada linha representa um país e as colunas representam o ano
fertilidade

,country,1799,1800,1801,1802,1803,1804,1805,1806,1807,...,2090,2091,2092,2093,2094,2095,2096,2097,2098,2099
0,Aruba,5.64,5.64,5.64,5.64,5.64,5.64,5.64,5.64,5.64,...,1.82,1.82,1.82,1.82,1.82,1.82,1.82,1.82,1.83,1.83
1,Afghanistan,7.00,7.00,7.00,7.00,7.00,7.00,7.00,7.00,7.00,...,1.74,1.74,1.74,1.74,1.74,1.74,1.74,1.74,1.74,1.74
2,Angola,6.93,6.93,6.93,6.93,6.93,6.93,6.93,6.94,6.94,...,2.54,2.52,2.50,2.48,2.47,2.45,2.43,2.42,2.40,2.40
3,Albania,4.60,4.60,4.60,4.60,4.60,4.60,4.60,4.60,4.60,...,1.78,1.78,1.78,1.79,1.79,1.79,1.79,1.79,1.79,1.79
4,Netherlands Antilles,5.80,5.80,5.80,5.80,5.80,5.80,5.80,5.80,5.80,...,2.00,2.00,2.01,2.01,2.01,2.01,2.01,2.02,2.02,2.02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197,Samoa,6.98,6.98,6.98,6.98,6.98,6.98,6.98,6.98,6.98,...,2.10,2.09,2.08,2.07,2.06,2.05,2.04,2.03,2.02,2.02
198,Yemen,6.88,6.88,6.88,6.88,6.88,6.88,6.88,6.88,6.88,...,1.68,1.68,1.69,1.69,1.69,1.69,1.70,1.70,1.70,1.70
199,South Africa,6.47,6.47,6.47,6.47,6.47,6.47,6.47,6.47,6.47,...,1.80,1.80,1.80,1.80,1.80,1.80,1.80,1.80,1.80,1.80
200,Zambia,6.71,6.71,6.71,6.71,6.71,6.71,6.71,6.71,6.71,...,2.59,2.57,2.56,2.54,2.53,2.51,2.50,2.48,2.46,2.46
201,Zimbabwe,6.75,6.75,6.75,6.75,6.75,6.75,6.75,6.75,6.75,...,1.85,1.85,1.85,1.84,1.84,1.84,1.83,1.83,1.83,1.83

In [30]:
escolaridade_anos

,country,1969,1970,1971,1972,1973,1974,1975,1976,1977,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014
0,Afghanistan,0.48,0.50,0.51,0.53,0.55,0.57,0.59,0.61,0.63,...,1.60,1.66,1.71,1.77,1.82,1.88,1.94,2.00,2.07,2.13
1,Angola,1.64,1.69,1.74,1.80,1.85,1.91,1.97,2.03,2.10,...,4.77,4.90,5.03,5.16,5.30,5.43,5.57,5.71,5.85,6.00
2,Albania,4.99,5.11,5.24,5.36,5.49,5.62,5.75,5.88,6.02,...,10.20,10.40,10.50,10.70,10.90,11.00,11.20,11.40,11.50,11.70
3,Andorra,9.50,9.67,9.84,10.00,10.20,10.30,10.50,10.70,10.80,...,15.00,15.10,15.30,15.40,15.50,15.60,15.70,15.80,16.00,16.10
4,United Arab Emirates,4.18,4.31,4.45,4.58,4.72,4.87,5.02,5.18,5.34,...,11.40,11.60,11.80,12.00,12.20,12.30,12.50,12.70,12.80,13.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183,Samoa,7.39,7.55,7.70,7.86,8.02,8.18,8.34,8.50,8.67,...,13.10,13.30,13.40,13.60,13.70,13.90,14.00,14.20,14.30,14.40
184,Yemen,0.51,0.53,0.55,0.57,0.60,0.62,0.65,0.68,0.71,...,2.76,2.87,2.97,3.08,3.19,3.30,3.41,3.52,3.63,3.74
185,South Africa,4.71,4.83,4.95,5.08,5.20,5.33,5.46,5.60,5.73,...,10.20,10.30,10.50,10.70,10.80,11.00,11.20,11.30,11.50,11.70
186,Zambia,2.74,2.82,2.91,2.99,3.08,3.17,3.26,3.36,3.45,...,6.64,6.78,6.92,7.06,7.21,7.35,7.50,7.65,7.81,7.96
187,Zimbabwe,4.28,4.39,4.51,4.62,4.74,4.87,4.99,5.12,5.24,...,9.29,9.45,9.61,9.77,9.93,10.10,10.30,10.40,10.60,10.80

# Inner Join

In [31]:
#Construindo DF e limpando linhas 

fertilidade_index = fertilidade.set_index('country')
escolaridade_anos_index = escolaridade_anos.set_index('country')

df = fertilidade_index.join(escolaridade_anos_index, how='inner', lsuffix='_fertilidade', rsuffix='_escolaridade')
df.head(5)

,1799,1800,1801,1802,1803,1804,1805,1806,1807,1808,...,2005_escolaridade,2006_escolaridade,2007_escolaridade,2008_escolaridade,2009_escolaridade,2010_escolaridade,2011_escolaridade,2012_escolaridade,2013_escolaridade,2014_escolaridade
country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,7.00,7.00,7.00,7.00,7.00,7.00,7.00,7.00,7.00,7.00,...,1.60,1.66,1.71,1.77,1.82,1.88,1.94,2.00,2.07,2.13
Angola,6.93,6.93,6.93,6.93,6.93,6.93,6.93,6.94,6.94,6.94,...,4.77,4.90,5.03,5.16,5.30,5.43,5.57,5.71,5.85,6.00
Albania,4.60,4.60,4.60,4.60,4.60,4.60,4.60,4.60,4.60,4.60,...,10.20,10.40,10.50,10.70,10.90,11.00,11.20,11.40,11.50,11.70
United Arab Emirates,6.94,6.94,6.94,6.94,6.94,6.94,6.94,6.94,6.94,6.94,...,11.40,11.60,11.80,12.00,12.20,12.30,12.50,12.70,12.80,13.00
Argentina,6.80,6.80,6.80,6.80,6.80,6.80,6.80,6.80,6.80,6.80,...,11.50,11.60,11.80,11.90,12.10,12.20,12.40,12.50,12.70,12.80

In [32]:
#Seleciona o ano de 2012 e remove os NaNs
df = df[['2012_fertilidade','2012_escolaridade']].dropna()
df.head(5)

                      2012_fertilidade  2012_escolaridade
country
Afghanistan                       5.17               2.00
Angola                            5.92               5.71
Albania                           1.70              11.40
United Arab Emirates              1.80              12.70
Argentina                         2.34              12.50